{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="page-header">
        <h1>{{ 'security.login.forgot_password'|trans({}, 'DdrUtilsBundle') }}</h1>
    </div>

    <p class="alert alert-info">
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </p>

{% endblock %}
